
	<div class="design card">

	
		<div class="card-content">

		<h2>Das Sieger-Modell: <%= design.username %>s Fabrik</h2>
		<%= image_tag design.main_image.image.url(:large) if design.main_image %>
		
			<% if design.main_image %>
				<%= design.main_image.description %></br>
			<% end %>
			
			<% design.images.each do |image| %>
			<div>
					<% unless image.id == design.main_image_id %>
						<%= link_to image.image.url(:large), :title => image.description do %>
							<%= image_tag image.image.url(:mediumsquared), :class => "image-preview image-modal", :title => image.description %><br/>
						<% end %>
					<% end %>
			</div>
			<% end %><br/>
			
			<% if design.media_link && !design.media_link.url.blank? %>
				<p class="media_link">
				  <a class="oembed" href="<%= design.media_link.url if design.media_link %>"><%= image_tag("darkLoader.gif") %></a>
				</p>
			<% end %>
			<div style="clear:both"></div>
						
			<p><%= design.description %></p>
			
			<p>
			  <b>Beliebtheit:
			
			  <%= design.score %> (<%= design.vote_count %> Meinungen)</b>
			</p>
			
				
		</div>
		
	</div>
