<div class="row" style="padding-bottom:15px;">
	<div class="col-md-12" style="text-align:center;">
		<%= link_to controller: "challenges", action: "show_public", id: @design.challenge do %> 
			<%= image_tag("info-black.png", :style => "width:3%") %>
		<% end %> 
		<br>
		<%= link_to controller: "challenges", action: "show_public", id: @design.challenge do %> 
			<span style="vertical-align:bottom; color:#555;"><%= @challenge.name %></span>
		<% end %> 		
	</div>
	<div class="visible-xs col-xs-6 col-xs-6 arrow-navigation arrow-navigation-next">
		<%= link_to controller: "designs", action: "show_previous", id: @design.id do %>
			<%= image_tag("arrow-black-left.png", :class => "img-responsive pull-left") %>
		<% end %> 
	</div>
	<div class="visible-xs col-xs-6 col-xs-6 arrow-navigation arrow-navigation-previous">
		<%= link_to controller: "designs", action: "show_next", id: @design.id do %>
			<%= image_tag("arrow-black-right.png", :class => "img-responsive pull-right") %>
		<% end %> 
	</div>	
</div>

<div class="row">

	<div class="visible-md visible-lg visible-sm col-sm-2 arrow-navigation arrow-navigation-fixed arrow-navigation-previous">
		<%= link_to controller: "designs", action: "show_previous", id: @design.id do %>
			<%= image_tag("arrow-black-left.png", :class => "img-responsive") %>
		<% end %> 
	</div>
	
	<div class="col-sm-8 col-sm-offset-2">
	
		<div class="design card">
		
			<% if @design.main_image %>
				<div class="main_image">
					<%= link_to @design.main_image.image.url(:large), :title => (@design.main_image.description if @design.main_image.description) do %>
						<%= image_tag @design.main_image.image.url(:large), :class => "image-modal" %><br/>
					<% end %>
				</div>
			<% end %>
	
			<% @design.images.each do |image| %>
				<% if image.id != @design.main_image_id %>
				<div class="image-preview">
					<%= link_to image.image.url(:large), :title => image.description do %>
						<%= image_tag image.image.url(:mediumsquared), :class => "image-preview image-modal", :title => image.description %><br/>
					<% end %>
				</div>
				<% end %>
			<% end %>
	
			<div style="clear:both"></div>
	
			<% if @design.media_link && !@design.media_link.url.blank? %>
				<p class="media_link">
				  <a class="oembed" href="<%= @design.media_link.url if @design.media_link %>"><%= image_tag("darkLoader.gif") %></a>
				</p>
			<% end %>
	
			<div class="card-content">
				
				<p>
				  <%= @design.description %>
				</p>
				
				<p>
				  <b>Gesamtwertung: </b>
				
				  <span class="design-score"><%= @design.score %></span> (Berechnet aus <span class="design-vote_count"><%= @design.vote_count %></span> Meinung<span class="plural" <% if @design.vote_count == 1 %>style="display:none"<% end %>>en</span>)
				</p>
				
				<p class="deine_meinung">
					<b>Deine Meinung:&nbsp&nbsp</b>				
					<%= form_tag((url_for controller: "designs", action: "vote"), :remote => true, :class => 'star-form') do %>
	
						<input class="auto-submit-star required" type="radio" name="test-1-rating-5" value="1"
							<% if @vote_cookie.vote >= 1 %>
								checked="checked"
							<% end %>		
							<% if @design.challenge.time < Time.now %>
								disabled="disabled"
							<% end %>
						/>
				<input class="auto-submit-star" type="radio" name="test-1-rating-5" value="2"/
							<% if @vote_cookie.vote >= 2 %>
								checked="checked"
							<% end %>		
							<% if @design.challenge.time < Time.now %>
								disabled="disabled"
							<% end %>
						/>
				<input class="auto-submit-star" type="radio" name="test-1-rating-5" value="3"/
							<% if @vote_cookie.vote >= 3 %>
								checked="checked"
							<% end %>		
							<% if @design.challenge.time < Time.now %>
								disabled="disabled"
							<% end %>
						/>
					<input class="auto-submit-star" type="radio" name="test-1-rating-5" value="4"/
							<% if @vote_cookie.vote >= 4 %>
								checked="checked"
							<% end %>		
							<% if @design.challenge.time < Time.now %>
								disabled="disabled"
							<% end %>
						/>
				  <input class="auto-submit-star" type="radio" name="test-1-rating-5" value="5"/
							<% if @vote_cookie.vote == 5 %>
								checked="checked"
							<% end %>		
							<% if @design.challenge.time < Time.now %>
								disabled="disabled"
							<% end %>
						/>
				
					<% end %>
					</p>
			</div>
		
		</div>
		
	</div>
	
	<div class="visible-md visible-lg visible-sm col-sm-2 arrow-navigation arrow-navigation-fixed arrow-navigation-next">
		<%= link_to controller: "designs", action: "show_next", id: @design.id do %>
			<%= image_tag("arrow-black-right.png", :class => "img-responsive arrow-right") %>
		<% end %> 	</div>	

</div>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<% @comments = @design.comments %>
		<%= render 'comments/list_public' %>
	</div>	
</div>