<div class="row">

	<div class="design card">
		<%= link_to "Zurück zur Übersicht", controller: "challenges", action: "show_public", id: @design.challenge %><br/>

		<%= image_tag @design.main_image.image.url(:large) if @design.main_image %><br/>
	
		<div class="card-content">
		
			<% if @design.main_image %>
				<%= @design.main_image.description %></br>
			<% end %>
			
			<% @design.images.each do |image| %>
			<div>
					<% unless image.id == @design.main_image_id %>
					<%= image_tag image.image.url(:thumb) %><br/>
					<%= image.description %>
					<% end %>
			</div>
			<% end %><br/>
			
			<% if @design.media_link && !@design.media_link.url.blank? %>
				<p class="media_link">
				  <a class="oembed" href="<%= @design.media_link.url if @design.media_link %>"><%= image_tag("darkLoader.gif") %></a>
				</p>
			<% end %>
			
			<p>
			  <%= @design.description %>
			</p>
			
			<p>
			  <b>Bewertung: </b>
			
			  <%= @design.score %> (Durchschnitt aus <%= @design.vote_count %> Meinung<% if @design.vote_count > 1 %>en<% end %>)
			</p>
			
			<p>
				<b>Deine Meinung: </b>				
				<%= form_tag((url_for controller: "designs", action: "vote"), :remote => true, :class => 'star-form') do %>

					<input class="auto-submit-star required" type="radio" name="test-1-rating-5" value="1"
						<% if @vote_cookie.vote >= 1 %>
							checked="checked"
						<% end %>		
						<% if @design.challenge.time < Time.now %>
							disabled="disabled"
						<% end %>
					/>
	  	  	<input class="auto-submit-star" type="radio" name="test-1-rating-5" value="2"/
						<% if @vote_cookie.vote >= 2 %>
							checked="checked"
						<% end %>		
						<% if @design.challenge.time < Time.now %>
							disabled="disabled"
						<% end %>
					/>
  	  		<input class="auto-submit-star" type="radio" name="test-1-rating-5" value="3"/
						<% if @vote_cookie.vote >= 3 %>
							checked="checked"
						<% end %>		
						<% if @design.challenge.time < Time.now %>
							disabled="disabled"
						<% end %>
					/>
		    	<input class="auto-submit-star" type="radio" name="test-1-rating-5" value="4"/
						<% if @vote_cookie.vote >= 4 %>
							checked="checked"
						<% end %>		
						<% if @design.challenge.time < Time.now %>
							disabled="disabled"
						<% end %>
					/>
	  		  <input class="auto-submit-star" type="radio" name="test-1-rating-5" value="5"/
						<% if @vote_cookie.vote == 5 %>
							checked="checked"
						<% end %>		
						<% if @design.challenge.time < Time.now %>
							disabled="disabled"
						<% end %>
					/>
			
				<% end %>
				</p>
		</div>
		
	</div>
		
	<% @comments = @design.comments %>
	<%= render 'comments/list_public' %>
	
</div>