<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @design.name %>
</p>

<p>
  <b>Description:</b>
  <%= @design.description %>
</p>

<p>
  <b>Challenge:</b>
  <%= @design.challenge.name %>
</p>

<p>
  <b>Votes:</b>
  <%= @design.votes.count %>
</p>

<p>
  <b>Comments:</b>
  <% @design.comments.each do |comment| %>
  	<%= comment.username + ': ' + comment.content %><br/>
  <% end %>
</p>



<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
