<p>
  <b>Name:</b>
  <%= @design.name %>
</p>

<p>
  <b>Description:</b>
  <%= @design.description %>
</p>

<p>
  <b>Challenge:</b>
  <%= @design.challenge.name %>
</p>

<p>
  <b>Votes:</b>
  <%= VoteCookie.where(design_id: @design.id).sum('vote') %>
</p>

	<% if @vote_cookie.vote == 1 %> 
		Dafür!<br/>
	<% else %>
		<%= link_to "Dafür!", controller: "designs", action: "vote", id: @design, value: 1 %><br/>
	<% end %>
	
	<% if @vote_cookie.vote == -1 %> 
		Dagegen!<br/>
	<% else %>
		<%= link_to "Dagegen!", controller: "designs", action: "vote", id: @design, value: -1 %><br/>
	<% end %>

<p>
  <b>Comments:</b><br/>
  <% @design.comments.each do |comment| %>
  	<%= comment.username + ': ' + comment.content %><br/>
  <% end %>
</p>
