<p>
  <b>Name:</b>
  <%= @design.name %>
</p>

<p>
  <b>Description:</b>
  <%= @design.description %>
</p>

<p>
  <b>Challenge:</b>
  <%= @design.challenge.name %>
</p>

<p>
  <b>Votes:</b>
  <%= @design.votes.count %>
</p>

<p>
  <b>Comments:</b><br/>
  <% @design.comments.each do |comment| %>
  	<%= comment.username + ': ' + comment.content %><br/>
  <% end %>
</p>
