<h1>Listing username_scores</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @username_scores.each do |username_score| %>
  <tr>
    <td><%= username_score.username %></td>
    <td><%= username_score.score %></td>
    <td><%= link_to 'Show', username_score %></td>
    <td><%= link_to 'Edit', edit_username_score_path(username_score) %></td>
    <td><%= link_to 'Destroy', username_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Username score', new_username_score_path %>
