<%= form_for(@comment, :url => { controller: "comments", action: "create_public" }, :html => { :class => "XXXform-inline" } ) do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field form-group">
    <%= f.label :comment, :class => "sr-only" %><br />
    <%= f.text_area :content, class: "form-control", :placeholder => "Kommentar", :rows => 3 %>
  </div>

  <div class="field form-group pull-left">
    <%= f.label :username, :class => "sr-only" %><br />
    <%= f.text_field :username, :value => @cookie_username, class: "typeahead-username username" %>
    <span class="typeahead-username-new label label-info">Neuer Benutzername</span>
    <span class="typeahead-username-old label label-success">Bekannter Benutzername</span>
  </div>

 <div class="field form-group pull-right">
    <%= f.submit "Kommentar abschicken", :class => "btn btn-default" %>
  </div>
  
  <%= f.hidden_field :design_id, :value => @design.id if @design %>
  <%= f.hidden_field :challenge_id, :value => @challenge.id if @challenge %>

	<hr class="clear" style="">

<% end %>
