<h1>Listing username_cookies</h1>

<table>
  <tr>
    <th>Cookiehash</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @username_cookies.each do |username_cookie| %>
  <tr>
    <td><%= username_cookie.cookiehash %></td>
    <td><%= username_cookie.username %></td>
    <td><%= link_to 'Show', username_cookie %></td>
    <td><%= link_to 'Edit', edit_username_cooky_path(username_cookie) %></td>
    <td><%= link_to 'Destroy', username_cookie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Username cookie', new_username_cooky_path %>
