<h1>admin area</h1>

<%= link_to "Challenges", challenges_url %><br/>
<%= link_to "Designs", designs_url %><br/>
<%= link_to "Comments", comments_url %><br/>
<%= link_to "Votes", vote_cookies_url %><br/>
<%= link_to "Username Scores", username_scores_url %><br/>
<%= link_to "Username Cookies", username_cookies_url %><br/>
<%= link_to "Media Links", media_links_url %><br/>
<%= link_to "Images", images_url %><br/>