<% @challenges.each do |challenge| %>

<%= image_tag challenge.main_image.image.url(:medium) if challenge.main_image %>


<h2><%= challenge.name %></h2>
<h3><%= challenge.time %></h3>
<p><%= challenge.description %></p>
<%= link_to "Link", controller: "challenges", action: "show_public", id: challenge %>
<br/>

<% end %>

<br/><br/>
<%= link_to "Punkte Enlösen", controller: "reward_codes", action: "highscores" %>
