<h1>Punkte einlösen</h1>
<%= form_tag(url_for controller: "reward_codes", action: "claim") do %>

  <div class="field">
    <%= label_tag 'Name' %><br />
    <%= text_field_tag :username, @cookie_username, class: "typeahead-username username" %>
  </div>
  <div class="field">
    <%= label_tag :code %><br />
    <%= text_field_tag :code, nil, class: "form-control input-large" %>
  </div><br/>
	<%= submit_tag "Einlösen", class: "btn btn-success" %>

<% end %>

<p><%= @message %></p>