<%= form_for(@reward_code) do |f| %>
  <% if @reward_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward_code.errors.count, "error") %> prohibited this reward_code from being saved:</h2>

      <ul>
      <% @reward_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :achievement_id %><br />
    <%= f.number_field :achievement_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
