<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @reward_code.code %>
</p>

<p>
  <b>Type:</b>
  <%= @reward_code.type %>
</p>

<p>
  <b>Points:</b>
  <%= @reward_code.points %>
</p>

<p>
  <b>Achievement:</b>
  <%= @reward_code.achievement_id %>
</p>


<%= link_to 'Edit', edit_reward_code_path(@reward_code) %> |
<%= link_to 'Back', reward_codes_path %>
