<%= form_for(@vote_cookie) do |f| %>
  <% if @vote_cookie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_cookie.errors.count, "error") %> prohibited this vote_cookie from being saved:</h2>

      <ul>
      <% @vote_cookie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cookiehash %><br />
    <%= f.text_field :cookiehash %>
  </div>
  <div class="field">
    <%= f.label :design_id %><br />
    <%= f.select :design_id, Design.order("challenge_id").collect {|d| [d.challenge.name + ": " + d.name, d.id]} %>
  </div>
  <div class="field">
    <%= f.label :vote %><br />
    <%= f.number_field :vote %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
