<h1>Listing vote_cookies</h1>

<table>
  <tr>
    <th>Cookiehash</th>
    <th>Design</th>
    <th>Vote</th>
    <th>Ip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vote_cookies.each do |vote_cookie| %>
  <tr>
    <td><%= vote_cookie.cookiehash %></td>
    <td><%= vote_cookie.design_id %></td>
    <td><%= vote_cookie.vote %></td>
    <td><%= vote_cookie.ip %></td>
    <td><%= link_to 'Show', vote_cookie %></td>
    <td><%= link_to 'Edit', edit_vote_cooky_path(vote_cookie) %></td>
    <td><%= link_to 'Destroy', vote_cookie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote cookie', new_vote_cooky_path %>
