<p id="notice"><%= notice %></p>

<p>
  <b>Cookiehash:</b>
  <%= @vote_cookie.cookiehash %>
</p>

<p>
  <b>Design:</b>
  <%= @vote_cookie.design_id %>
</p>

<p>
  <b>Vote:</b>
  <%= @vote_cookie.vote %>
</p>

<p>
  <b>Ip:</b>
  <%= @vote_cookie.ip %>
</p>


<%= link_to 'Edit', edit_vote_cooky_path(@vote_cookie) %> |
<%= link_to 'Back', vote_cookies_path %>
