<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>  	<%= radio_button_tag "design[main_image_id]", 0 %> keins
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
    
  <div class="field">
  	<%= f.label "Main image" %>
  	
		<% @challenge.images.each do |image| %>
		  	<%= radio_button_tag "challenge[main_image_id]", 0 %> keins
				<%= radio_button_tag "challenge[main_image_id]", image.id.to_s %>
				<%= image_tag image.image.url(:thumb) %>
		<% end %>
	</div>

  <div class="field">
    <%= f.label :hidden %><br />
    <%= f.check_box :hidden %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
