<div class="preview-link preview card" data-url="<%= url_for controller: "challenges", action: "show_public", id: challenge %>">

	<%= image_tag challenge.main_image.image.url(:medium) if challenge.main_image %>
	
	<div class="card-content">
	
		<h2 class="shade-highlight"><%= challenge.name %></h2>
		
		<h3 class="shade-highlight"><%= l challenge.time, :format => :long %></h3>
		<span class="countdown" data-time="<%= challenge.time.to_i %>"></span>
		
		<p><%= challenge.description %></p>
		
		<span class="badge"><%= challenge.designs.count %></span>
		
	</div>

</div>
