<div class="preview-link preview card" data-url="<%= url_for controller: "challenges", action: "show_public", id: challenge %>">

	<%= image_tag challenge.main_image.image.url(:medium) if challenge.main_image %>
	
	<div class="card-content">
	
		<h2 class="shade-highlight"><%= challenge.name %></h2>
		
		<h3><%= l challenge.time, :format => :long %></h3>
		
		<p class="shade-highlight">
		Noch <span class="countdown" data-time="<%= challenge.time.to_i %>"></span> bis zum Umbau.
		</p>
		
		<!--p><%= challenge.description %></p-->
		
		<% if @first_challenge.id != challenge.id %>
		<span class="badge"><%= challenge.designs.count %></span> Fabrik-Modelle zur Abstimmung
		<% end %>
		
	</div>

</div>
