<p id="notice"><%= notice %></p>

<p>
<b>Main image:</b>
<%= image_tag @challenge.main_image.image.url(:thumb) if @challenge.main_image %>
<p>

<p>
<b>Other Images:</b>
<% @challenge.images.each do |image| %>
	<%= image_tag image.image.url(:thumb) if image.id != @challenge.main_image_id %>
<% end %><br/>
</p>

<p>
  <b>Name:</b>
  <%= @challenge.name %>
</p>

<p>
  <b>Time:</b>
  <%= @challenge.time %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Designs:</b>
  <ul>
  <% @challenge.designs.each do |design| %>
  	<li><%= design.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
