<p id="notice"><%= notice %></p>

<%= image_tag @challenge.main_image.image.url(:thumb) if @challenge.main_image %>

<p>
  <b>Name:</b>
  <%= @challenge.name %>
</p>

<p>
  <b>Time:</b>
  <%= @challenge.time %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Designs:</b>
  <ul>
  <% @challenge.designs.each do |design| %>
  	<li><%= design.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
