<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @challenge.name %>
</p>

<p>
  <b>Time:</b>
  <%= @challenge.time %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Designs:</b>
  <% @challenge.designs.each do |design| %>
  <%= design.name %>;
  <% end %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
