<%= link_to "Zurück", controller: "home", action: "welcome" %><br/>

<div class="row">

	<a class="visible-xs creator-link btn btn-success btn-lg" href="<%= url_for controller: "designs", action: "creator", challenge_id: @challenge.id %>">Create Design</a>

	<div class="col-sm-6 col-md-6 col-lg-4">
	
		<div class="static-section card">
	
			<%= image_tag @challenge.main_image.image.url(:large) if @challenge.main_image %>
	
			<div class="challenge card-content">
					
				<% @challenge.images.each do |image| %>
						<%= image_tag image.image.url(:thumb) if !image==@challenge.main_image.image? %>
				<% end %><br/>
				
				<h2>
				  <%= @challenge.name %>
				</h2>
				
				<p>
				  <%= l @challenge.time %>
				</p>
				
				<p>
				  <%= @challenge.description %>
				</p>
			
			</div>
			
		</div>

		<% @comments = @challenge.comments %>
		<%= render 'comments/list_public' %>

	</div>
	
	
	<div class="designs col-sm-6 col-md-6 col-lg-8">
		
		<a class="creator-link btn btn-success btn-lg" href="<%= url_for controller: "designs", action: "creator", challenge_id: @challenge.id %>">Create Design</a>

		  <% @designs_sorted.each do |design| %>
		
				<%= render partial: "designs/preview", locals: {design: design} %>
				
		  <% end %>

	</div>
	
</div>
