<div class="row">

	<div class="col-sm-6 col-md-6 col-lg-4">
	
		<div class="static-section card">

			<%= image_tag @challenge.main_image.image.url(:large) if @challenge.main_image %>
	
			<div class="challenge card-content">
					
				<div id="image_thumbs">	
				<% @challenge.images.each do |image| %>
						<% if image.id != @challenge.main_image.id %>
							<div class="image-preview">
							<%= image_tag image.image.url(:medium) %>
							</div>
						<% end %>
				<% end %>
				</div>
				<div style="clear:both"></div>
				
				<% if @challenge.winner_design %>
	
					<form>
					<div class="media-list">
						<div class="media">
							<input id="imageupload_button" class="imageupload_button" type="file" name="image[image]" data-url="/images/upload_public" value="Bild hochladen">
							<%= hidden_field_tag :challenge_id, @challenge.id %>
							<div id="progress" class="progress progress-striped active">
								<div class="bar progress-bar progress-bar-info" style="width: 0%;"></div>
							</div>
						</div>
					</div>
					</form>
				
				<% end %>
								
				<h2>
				  <%= @challenge.name %>
				</h2>
				
				<p>
				  <%= l @challenge.time %>
				</p>
				
				<p>
				  <%= @challenge.description %>
				</p>
			
			</div>
			
		</div>

		<% @comments = @challenge.comments %>
		<%= render 'comments/list_public' %>

	</div>
	
	
	<div id="designs" class="designs col-sm-6 col-md-6 col-lg-8">
		<% if @challenge.time > Time.now %>
			<div class="col-sx-6 col-sm-6 col-md-4 col-lg-4" data-id="-1" data-score="100000">
				<div class="preview card preview-link" data-url="<%= url_for controller: "designs", action: "creator", challenge_id: @challenge.id %>">
					<div class="card-content">
						<h4 class="shade-highlight">Entwirf deine Fabrik!</h4>
					</div>
				</div>
			</div>
			<%= render partial: "first_vote_modal", locals: {final_date: @challenge.time} if !@has_voted %>
		<% end %>
	
		<% i = 1 %>
		
		<% if @challenge.winner_design %>
			<%= render partial: "designs/winner_preview", locals: {design: @challenge.winner_design } %>
			<% i = 2 %>
		<% end %> 
	
		<% @designs_sorted.each do |design| %>

			<% unless design.id == @challenge.winner_design_id %>
				<%= render partial: "designs/preview", locals: {design: design, current_vote: @vote_cookies[design.id], index: i} %>
				<% i = i + 1 %>
			<% end %>
						
		<% end %>

	</div>
	
</div>
