<p>
  <b>Name:</b>
  <%= @challenge.name %>
</p>

<p>
  <b>Time:</b>
  <%= @challenge.time %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Designs:</b>
  <ul>
  <% @designs_sorted.each do |design| %>
		<%= link_to design[:design].name + " (" + design[:votes].to_s + ")", controller: "designs", action: "show_public", id: design[:design] %><br/>
  <% end %>
  </ul>
</p>

<b>New design</b>
<%= render '/designs/form_public' %>
