<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= f.file_field :image %>
  </div>
  <div class="field">
	<%= f.label :challenge_id %><br />
	<%= f.select :challenge_id, Challenge.order("time").collect { |c| [c.name, c.id] }.insert(0, ["-", nil]), {},
		:data => { :"ajax-url" => url_for(:controller => "challenges", :action => "designs_public_urlparam") + ".json", :targetselect => "image_design_id" } %>
	</div>
  <div class="field">
	<%= f.label :design_id %><br />
	<%= f.select :design_id, Design.order("created_at").collect { |d| [d.username.to_s + ' ' + d.challenge.name , d.id] }.insert(0, ["-", nil]) %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
