<!DOCTYPE html>
<html>
<head>
  <title>DarkFactory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<header class="navbar navbar-static-top bs-docs-nav" role="banner">
  <div class="container container-top">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Die Schwarze Fabrik</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Termine<b class="caret"></b></a>
          <ul class="dropdown-menu">

					<% Challenge.all.each do |challenge| %>
						<li><a href="<%= url_for controller: "challenges", action: "show_public", id: challenge.id %>"><%= l challenge.time, :format => :long %></a></li>        
          <% end %>
          
          </ul>
        </li>
        </li>
        <li>
          <a href="<%= highscores_path %>">Punkte</a>
        </li>
        <li>
          <a href="<%= url_for controller: "pages", action: "show", id: "tutorial" %>">Hilfe</a>
        </li>
        <li>
          <a href="<%= url_for controller: "pages", action: "show", id: "kontakt" %>">Kontakt</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container-main">
	<div class="container">
		<%= yield %>
	</div>
</div>

</body>
</html>
