<!DOCTYPE html>
<html>
<head>
  <title>Die Schwarze Fabrik</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<header class="navbar navbar-static-top bs-docs-nav" role="banner">
  <div class="container container-top">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Die Schwarze Fabrik</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Termine<b class="caret"></b></a>
          <ul class="dropdown-menu">

					<% Challenge.all.each do |challenge| %>
						<li><a href="<%= url_for controller: "challenges", action: "show_public", id: challenge.id %>"><%= l challenge.time, :format => :long %></a></li>        
          <% end %>
          
          </ul>
        </li>
        </li>
        <li>
          <a href="<%= punkte_path %>">Punkte</a>
        </li>
        <li>
          <a href="<%= url_for controller: "pages", action: "show", id: "hilfe" %>">Spielanleitung</a>
        </li>
        <li>
          <a href="<%= url_for controller: "pages", action: "show", id: "kontakt" %>">Kontakt</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container-main">
	<div class="container">
		<%= yield %>
	</div>
</div>

<div id="imageModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">Bildanzeige</h3>
	</div>
	<div class="modal-body">
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-default btn-modal-image-previous" "><%= image_tag("arrow-black-left.png", :style => "width:30px") %></button>
		<button class="btn btn-default btn-modal-image-next" "><%= image_tag("arrow-black-right.png", :style => "width:30px") %></button>
		<button class="btn btn-default" data-dismiss="modal">Schließen</button>
	</div>
   </div>
  </div>
</div>

</body>
</html>
